In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("WinterData.csv")
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [5]:
df["AOV"] = df.order_amount/df.total_items

In [6]:
df.head()

   order_id  shop_id  user_id  ...  payment_method           created_at    AOV
0         1       53      746  ...            cash  2017-03-13 12:36:56  112.0
1         2       92      925  ...            cash  2017-03-03 17:38:52   90.0
2         3       44      861  ...            cash   2017-03-14 4:23:56  144.0
3         4       18      935  ...     credit_card  2017-03-26 12:43:37  156.0
4         5       18      883  ...     credit_card   2017-03-01 4:35:11  156.0

[5 rows x 8 columns]

In [16]:
# Incorrect calculation explained as a mistaken count() instead of sum() function
oa_sum = df['order_amount'].sum()
ti_count = df['total_items'].count()
q_aov= oa_sum/ti_count
print(q_aov)

3145.128

In [17]:
#Correct calculation 
oa_sum = df['order_amount'].sum()
ti_count = df['total_items'].sum()
a_aov= oa_sum/ti_count
print(a_aov)

357.92152221412965

In [18]:
#Considering a better metric as Median
m = np.median(df.AOV)

In [19]:
print("Median",m)

Median 153.0